@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	background-image: linear-gradient(#636162, #b1afaf);
	font-weight: bold;
	letter-spacing: 2px;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	word-wrap: break-word;
}

.main {
	width: 50%;
	margin: auto;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: white;
	grid-template-columns: 1fr 2fr;
}

.left {
	background-color: #eb3bfb;
	width: 70%;
	height: 100%;
}

.right {
	height: 100%;
}

.contact_pdf {
	display: none;
}

a:link {
	color: black;

}

a:visited {
	color: black;
}

.profile-img {
	height: 230px;
	width: 230px;
	background-color: #ddd;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-left: 60px;
	border: 10px solid #eb3bfb;
	box-shadow: 6px 7px 9px 5px #eb3bfb73;
}

.profile-img img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.box-1 {
	position: relative;
}

.heading {
	background-color: #4d4d4d;
	padding: 10px;
	color: #eb3bfb;
	text-align: left;
	padding-left: 20px;
	margin-right: -15px;
}

.heading::after {
	content: '';
	position: absolute;
	width: 21px;
	height: 18px;
	background-color: #5a5959;
	left: 191px;
	top: 26px;
	transform: rotate(56deg);
	z-index: -1;
}

.p1 {
	padding: 9px 10px;
	font-size: 10px;
	font-weight: bold;
}

.icons1 {
	font-size: 16px !important;
	padding-right: 10px !important;
	vertical-align: sub;
}

.skill-container {
	width: 90%;
	background-color: #4d4d4d;
	margin: 0px 10px;
}

.skill {
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
}

.icons2 {
	padding: 18px 10px;
}

.name-div {
	padding: 86px 0px 60px 0px;
	text-align: center;
	letter-spacing: 3px;
}

.button_p {
	margin-top: 0.5em;
}

#button_save {
	transition-duration: 0.4s;
	background-color: white;
	color: #eb3bfb;
	border: 2px solid #eb3bfb;
	padding: 0.3rem;
	border-radius: 4px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-decoration: none;
}

#button_save:hover {
	background-color: #4d4d4d;
	color: white;
	cursor: pointer;
}

.name-div h1 {
	margin-bottom: 10px;
}

.box-2 {
	padding: 0px 50px;
	padding-left: 0;
	margin-top: 30px;
}

.p2 {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 18px;
	margin-top: 5px;
}

h2 {
	font-size: 16px;
	margin-bottom: 15px;
}

.icons3 {
	vertical-align: bottom;
	font-size: 21px !important;
	color: #4d4d4d;
}

.p3 {
	font-size: 13px;
	word-spacing: 1px;
	letter-spacing: 0px;
	margin-top: 10px;
}

.p3 span {
	color: #eb3bfb;
	padding-left: 20px;
}

@media screen and (max-width: 1100px) {
	.name-div {
		padding: 60px 60px 44px 0px;
		text-align: center;
	}

	.name-div h1 {
		font-size: 1.6rem;
	}

	.name-div p {
		font-size: 0.9rem;
	}

	.box-2 {
		padding: 0;
	}

	.p2 {
		font-size: 11px;
		line-height: 11px;
		padding-right: 20px;
		word-wrap: break-word;
	}

	.p3 {
		font-size: .6rem;
	}

	.p3 span {
		padding-left: 0;
	}

	.right {
		padding-right: 150px;
	}
}



@media screen and (max-width: 800px) {
	.name-div {
		padding: 0;
		text-align: left;
		font-size: 1rem;
	}

	.left {
		background-color: #eb3bfb;
		width: 100%;
		height: 100%;
	}

	.name-div h1 {
		margin-bottom: 0;
	}

	.main {
		width: 100%;
		grid-template-columns: 1fr;
	}

	.right {
		padding: 0 0 0 1rem;
		text-align: left;
	}

	.left {
		width: 100%;
		padding: 0;
	}

	.box-2 {
		padding: 0;
	}

	.p1 {
		text-align: left;
		padding-left: 1rem;
	}

	html {
		background-color: white;
	}

	.heading {
		text-align: center;
		width: 100%;
		box-sizing: border-box;
	}

	.profile-img {
		margin: auto;
	}

	.p3 {
		font-size: 1rem;
	}

	.p2 {
		font-size: 13px;
		line-height: 20px;
		padding-right: 0;
	}

	.name-div h1 {
		font-size: 2rem;
		padding-top: 1rem;
	}

	.name-div p {
		font-size: 1rem;
	}

	.mob-none {
		display: none;
	}
}


@media print {
	.main {
		width: 100%;
		grid-template-columns: 1fr;
	}

	.right {
		padding-left: 3rem
	}

	.left {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 5rem;
		margin: 0;
		padding-bottom: 0;
	}

	.box-2 {
		padding: 0;
		margin: 0;
	}

	.name-div {
		padding: 0;
		margin: 0;
		margin-top: -5rem;
	}

	.pdf-none {
		display: none;
	}

	#button_save {
		display: none;
	}

	.p1 {
		padding: .5rem;
	}

	.contact_pdf {
		display: flex;
	}

	a:link {
		color: #eb3bfb;

	}

	a:visited {
		color: #eb3bfb;
	}
}